<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div>
        <h1>Booked</h1>
        <h1>Flight Route : <%= flight.route %></h1>
        <h2>Flight Name : <%= flight.flightName %></h2>
        <h3>Flight Number : <%= flight.flightNumber %></h3>
        <h3>Flight Actual Landing Time : <%= flight.actualLandingTime %></h3>
        <h3>Flight Estimated Landing Time : <%= flight.estimatedLandingTime %></h3>
        <h3>Flight Direction : <%= flight.flightDirection %></h3>
    </div>
</body>
</html>
