<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
        div:hover {
            background-color: #eee;
        }
        a{
            
            top: 0;
        }
        .link{
            width: 150px;
            height: 50px;
            background-color: #f0f;
            position: absolute;
        }
    </style>
</head>
<body>
    <% 
    const compareDates = (d1) => {
        let d2 = new Date();
        let date1 = new Date(d1).getTime();
        d2.setDate(d2.getDate() - 1);
        let date2 = new Date(d2).getTime();
        
        if (date1 < date2) {
          return false;
        }  
          return true;
    
      };
    %>
    <div class="link">
        <a href="/flights/your-flights">Click</a>
    </div>
    <% for(let item of flights) { %>
        <form action="/flights/<%=item.id%>" method="POST">
            <div>
                <h1>Time : <%= compareDates(item.scheduleDateTime) ? item.scheduleDateTime.toLocaleString() : 'Past Flight' %></h1>
                <h1>Flight Direction : <%= item.route %></h1>
                <h2>Flight Name : <%= item.flightName%></h1>
                <h3>Flight Number : <%= item.flightNumber%></h3>
                <h3>Baggage Claim : <%= item.baggageClaim == null ? 1 : JSON.parse(item.baggageClaim)%></h3>
                <button type="submit">Book</button>
            </div>
        </form>
    <% } %>
</body>
</html>